
*.out
mathserver/src/client
mathserver/src/server
mathserver/src/matinv
mathserver/include/matrix_inverse.h.gch
mathserver/src/sr
mathserver/src/kmean
mathserver/src/kmean2
mathserver/src/kmeans-results.txt
mathserver/src/kmeans-results.txt
mathserver/src/kmeans-results2.txt
mathserver/src/kmeans-results.txt
computed_results/matinv_client2_soln0.txt
mathserver/src/kmeans-data-server.txt
mathserver/src/kmeans-results.txt
mathserver/objects/hello.txt
computed_results/kmeans1_soln0.txt
computed_results/matinv_client1_soln0.txt
